# Relax User Adoption Study

Defining  an  *"adopted  user"*   as  a  user  who   has  logged  into  the  product  on  three  separate days  in  at  least  one  sevenÂ­day  period,  identify  which  factors  **predict  future  user adoption.**

**Data Sources:**

1. takehome_users(information about a given user and how their account was created)


2. takehome_user_engagement (row for each day a user logged into the product)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime

%matplotlib inline

sns.set_style('darkgrid')

In [2]:
eng = pd.read_csv('takehome_user_engagement.csv')

users = pd.read_csv('takehome_users.csv', encoding='latin-1')

In [3]:
print(users.info())
users.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB
None

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
print(eng.info())
eng.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB
None

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

Several items of note appear after this initial look:


1.  I need to change several columns to datetime objects


2. Fill in missing values - if any.


3. I need to create some dummy variables for account creation source


4. I'll need to create several new features: 

    - Invited by a member of the same organization (y/n?)

    - Adopted user (y/n?) 

    - \# of logins prior to becoming 'adopted'

5. Examine last session time and understand how this feature translates into datetime values, if at all.

In [5]:
# Converting columns to datetime objects
users['creation_time'] = pd.to_datetime(users['creation_time'], format='%Y %m %d %H:%M:%S')
eng['time_stamp'] = pd.to_datetime(eng['time_stamp'], format='%Y %m %d %H:%M:%S')

# also converting the referral id to an integer and renaming the column to be easier to use

users.rename(columns = {'invited_by_user_id':'referral_id', 'object_id':'user_id'}, inplace=True)
users['referral_id'] = users['referral_id'].fillna(0)
users['referral_id'] = users['referral_id'].astype('int64')

In [6]:
print(users.info())
eng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   user_id                     12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   referral_id                 12000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 937.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  datetime64[ns]
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

In [7]:
users.describe()

,user_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,referral_id
count,12000.00000,8.823000e+03,12000.000000,12000.000000,12000.000000,12000.000000
mean,6000.50000,1.379279e+09,0.249500,0.149333,141.884583,3188.691333
std,3464.24595,1.953116e+07,0.432742,0.356432,124.056723,3869.027693
min,1.00000,1.338452e+09,0.000000,0.000000,0.000000,0.000000
25%,3000.75000,1.363195e+09,0.000000,0.000000,29.000000,0.000000
50%,6000.50000,1.382888e+09,0.000000,0.000000,108.000000,875.000000
75%,9000.25000,1.398443e+09,0.000000,0.000000,238.250000,6317.000000
max,12000.00000,1.402067e+09,1.000000,1.000000,416.000000,11999.000000

In [8]:
eng.describe()

             user_id   visited
count  207917.000000  207917.0
mean     5913.314197       1.0
std      3394.941674       0.0
min         1.000000       1.0
25%      3087.000000       1.0
50%      5682.000000       1.0
75%      8944.000000       1.0
max     12000.000000       1.0

From the above we can see that the engagement dataframe is clean, and in fact we can drop the visited colum if needed since it's all identical.  For now I'm going to keep it since it may be useful for windown functions and resampling the time series information. 

It seems prodent to fill in the 'invited by user_id' as zero since there are no users with that ID and it will prevent any issues with null values later on.  

However I need to examine the 'last session created time' in order to asess how to impute those missing values.

In [9]:
users.last_session_creation_time

0        1.398139e+09
1        1.396238e+09
2        1.363735e+09
3        1.369210e+09
4        1.358850e+09
             ...
11995    1.378448e+09
11996    1.358275e+09
11997    1.398603e+09
11998    1.338638e+09
11999    1.390727e+09
Name: last_session_creation_time, Length: 12000, dtype: float64

This is in a unix timestamp format and I'll need to convert it back to the same formate as the other datetime objects in order to simplify working with the time data.  This will also allow me to impute the last login time from the engagement dataframe.

In [10]:
users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'],unit='s')

Next I need to fill in the missing values for 'last_session_creation_time'.  However, all the values from the engagement data that could be used to fill in this missing values only exist for users where we already have the 'last_session_creation_time'. I'll need to decide on another method to fill those values if needed.  However given that I'm missing 25% of the values there I'll wait to see how and if I need them before blindly choosing a method.

### Engineering Several Features

In [41]:
# Creating binary feature that indicates if a user was invited to join by a member of the same org

for i in users.index:
    if users.loc[i, 'referral_id'] != 0:
        ref = users.loc[i, 'referral_id'] #storing the referrer ID
        new_org = users.loc[i, 'org_id'] # storing the org ID for the user
        ref_org = users['org_id'][users['user_id'] == ref].iloc[0] # selecting the first value in a pandas series as the org ID for the referrer
        if ref_org == new_org:
                users.loc[i, 'org_referral'] = 1 # If the referrer org and user org match, value is 1
        else: 
            users.loc[i, 'org_referral'] = 0
    else:
        users.loc[i, 'org_referral'] = 0

Next I need to define the 'adopted' feauture as a label for analysis.  In this instance it is whether or not a users has logged in on 3 distinct days within a given 7 day period. In this instance it does not matter when a 'week' begins or ends, which means that were we tobe using SQL I'd do this with a window function.

In [38]:
# Creating a feature which indicated whether or not a users is 'adopted'

2564

{3,
 8197,
 7,
 10,
 8202,
 8207,
 8212,
 21,
 23,
 8220,
 29,
 8221,
 8226,
 37,
 8231,
 47,
 49,
 50,
 8244,
 8246,
 55,
 8250,
 8253,
 8259,
 69,
 8261,
 8263,
 78,
 79,
 8272,
 8270,
 8274,
 8276,
 8279,
 8280,
 8283,
 93,
 8292,
 103,
 108,
 116,
 8310,
 8312,
 120,
 121,
 129,
 8322,
 131,
 8324,
 130,
 134,
 8328,
 137,
 8331,
 143,
 147,
 149,
 153,
 8348,
 8356,
 8357,
 165,
 169,
 8361,
 8365,
 175,
 8369,
 178,
 8371,
 181,
 8375,
 8377,
 8378,
 190,
 8383,
 193,
 197,
 200,
 8397,
 8399,
 8401,
 8405,
 220,
 8416,
 229,
 230,
 231,
 8424,
 8425,
 8426,
 8429,
 238,
 8432,
 241,
 242,
 8436,
 8438,
 8446,
 256,
 264,
 8461,
 270,
 8465,
 273,
 274,
 8468,
 8469,
 8470,
 8473,
 8475,
 8477,
 8480,
 291,
 294,
 8487,
 295,
 8494,
 302,
 306,
 8500,
 8503,
 8504,
 8507,
 316,
 8509,
 8510,
 321,
 8513,
 8522,
 331,
 8526,
 336,
 8529,
 8530,
 8532,
 343,
 344,
 8537,
 348,
 8541,
 350,
 8546,
 8553,
 8554,
 362,
 367,
 372,
 8565,
 374,
 376,
 380,
 382,
 8575,
 387,
 389,
 392,
 396,
 397,
 8592,
 8595,
 405,
 8598,
 408,
 8602,
 8606,
 417,
 8610,
 8613,
 422,
 426,
 431,
 8623,
 8625,
 436,
 8634,
 445,
 8637,
 450,
 451,
 454,
 455,
 8653,
 464,
 465,
 466,
 8657,
 470,
 471,
 8664,
 473,
 8670,
 8677,
 485,
 8679,
 488,
 8681,
 487,
 8686,
 8688,
 496,
 497,
 8692,
 8694,
 507,
 8699,
 8700,
 8702,
 509,
 512,
 510,
 8708,
 8710,
 526,
 530,
 8726,
 540,
 544,
 545,
 8738,
 8740,
 548,
 551,
 553,
 563,
 8757,
 565,
 573,
 8768,
 577,
 8769,
 579,
 8773,
 589,
 593,
 594,
 8787,
 597,
 600,
 8792,
 8793,
 604,
 605,
 608,
 8800,
 8804,
 614,
 8807,
 8809,
 8811,
 620,
 623,
 8817,
 637,
 8830,
 639,
 643,
 644,
 646,
 8841,
 651,
 8843,
 8847,
 8849,
 658,
 8850,
 8851,
 8853,
 8854,
 8856,
 8857,
 8858,
 8861,
 672,
 675,
 8870,
 678,
 8874,
 8875,
 684,
 690,
 693,
 8887,
 697,
 8890,
 704,
 706,
 8903,
 8905,
 8911,
 719,
 8912,
 8914,
 723,
 722,
 8917,
 726,
 728,
 8921,
 730,
 8923,
 8924,
 8925,
 734,
 8927,
 8928,
 741,
 8935,
 743,
 746,
 8939,
 8949,
 757,
 763,
 8956,
 8958,
 775,
 778,
 8974,
 8982,
 790,
 793,
 794,
 8988,
 797,
 8991,
 801,
 807,
 9001,
 9006,
 814,
 9010,
 822,
 9016,
 9017,
 828,
 9023,
 9026,
 9032,
 842,
 9039,
 850,
 9043,
 9042,
 853,
 9049,
 860,
 861,
 9052,
 9054,
 865,
 870,
 9063,
 875,
 876,
 878,
 879,
 9070,
 881,
 885,
 9079,
 9083,
 893,
 9087,
 9093,
 906,
 907,
 909,
 9101,
 912,
 9105,
 921,
 9118,
 9119,
 9120,
 9123,
 932,
 9126,
 934,
 9134,
 9138,
 949,
 951,
 9148,
 959,
 960,
 9155,
 9157,
 966,
 969,
 9162,
 975,
 9167,
 979,
 980,
 9175,
 985,
 9180,
 9187,
 9192,
 9200,
 9205,
 9206,
 1019,
 1027,
 1029,
 9223,
 9224,
 1031,
 9226,
 9227,
 1037,
 9230,
 9231,
 1039,
 1049,
 1053,
 1055,
 9249,
 1063,
 9259,
 9261,
 1069,
 9264,
 9265,
 9270,
 1079,
 9272,
 1081,
 1083,
 1084,
 9277,
 9280,
 9281,
 1089,
 9286,
 1095,
 1096,
 1098,
 9292,
 9294,
 9296,
 1105,
 9301,
 1112,
 1113,
 1114,
 9310,
 9311,
 9312,
 9313,
 9323,
 9324,
 9325,
 9327,
 1137,
 9330,
 1139,
 9332,
 1144,
 1149,
 9345,
 9346,
 1155,
 9349,
 1158,
 9356,
 1168,
 9363,
 1175,
 9368,
 9371,
 9376,
 9380,
 9381,
 1194,
 9390,
 1199,
 9391,
 9394,
 1202,
 1204,
 9397,
 9399,
 9400,
 9402,
 9407,
 1215,
 1217,
 9412,
 9420,
 1230,
 9423,
 1231,
 9434,
 9437,
 9439,
 1252,
 9444,
 1255,
 9449,
 1261,
 1262,
 9455,
 1266,
 1270,
 9464,
 1274,
 1280,
 1282,
 9476,
 9480,
 9481,
 1293,
 1294,
 9486,
 9497,
 1305,
 9498,
 1313,
 1314,
 1316,
 9509,
 9510,
 1320,
 1321,
 1324,
 1327,
 1331,
 9525,
 1339,
 9532,
 1344,
 1345,
 9540,
 1351,
 1356,
 9550,
 1359,
 9555,
 9558,
 9559,
 1367,
 9562,
 9568,
 9571,
 9572,
 1381,
 1382,
 1385,
 9577,
 9579,
 9582,
 1390,
 9584,
 1393,
 1394,
 9587,
 9589,
 9590,
 1398,
 1400,
 9593,
 9596,
 1405,
 9601,
 9602,
 9604,
 9606,
 9607,
 9608,
 1420,
 1423,
 1427,
 9621,
 1430,
 9625,
 9628,
 1437,
 1436,
 9631,
 1440,
 1441,
 1442,
 1448,
 1450,
 1452,
 1453,
 9648,
 9650,
 1458,
 9653,
 1462,
 1465,
 9657,
 9661,
 1469,
 1475,
 1479,
 1481,
 1484,
 9676,
 1488,
 9685,
 9691,
 9692,
 9694,
 9700,
 1509,
 9702,
 1511,
 9703,
 1512,
 1516,
 9709,
 9713,
 1525,
 1528,
 9720,
 9724,
 9726,
 9728,
 1538,
 1539,
 9732,
 1543,
 1544,
 9736,
 9738,
 1547,
 1551,
 9744,
 1553,
 9745,
 1552,
 1557,
 9751,
 1561,
 9757,
 9760,
 9763,
 9764,
 1577,
 9770,
 9769,
 1579,
 9774,
 1585,
 1586,
 1587,
 9777,
 9781,
 1592,
 9785,
 9790,
 1600,
 9793,
 9795,
 9797,
 9799,
 1608,
 9802,
 1612,
 1613,
 9805,
 9804,
 9810,
 1619,
 1620,
 1622,
 9819,
 9822,
 1634,
 1636,
 1638,
 1639,
 1645,
 9838,
 1646,
 9841,
 1654,
 1656,
 1659,
 1660,
 9855,
 9858,
 9862,
 1672,
 1675,
 1678,
 9872,
 1693,
 1697,
 9895,
 9899,
 9901,
 1713,
 1715,
 9912,
 1722,
 1723,
 9916,
 1726,
 9919,
 1728,
 9922,
 9923,
 1732,
 9925,
 1735,
 1738,
 9934,
 9935,
 1745,
 1747,
 1750,
 1752,
 1754,
 1756,
 1758,
 1759,
 9953,
 9958,
 9959,
 1769,
 9964,
 1774,
 1775,
 9968,
 1780,
 1784,
 1787,
 9985,
 9986,
 1800,
 9995,
 1804,
 9997,
 1806,
 1807,
 1810,
 1811,
 10003,
 1814,
 1815,
 1818,
 10010,
 10012,
 1821,
 10014,
 1824,
 10017,
 1826,
 10020,
 1830,
 10029,
 10030,
 1839,
 1837,
 1844,
 1846,
 10039,
 1848,
 10042,
 10049,
 10050,
 1857,
 10053,
 10054,
 1861,
 1864,
 1865,
 1862,
 10055,
 10060,
 1870,
 1873,
 1875,
 1877,
 10069,
 1879,
 10071,
 10075,
 1886,
 1887,
 10080,
 1891,
 10089,
 1899,
 10094,
 1903,
 1904,
 1909,
 10102,
 10101,
 10104,
 10111,
 10118,
 10119,
 1926,
 1930,
 1931,
 10123,
 1932,
 10126,
 10127,
 10128,
 1938,
 1940,
 10132,
 1943,
 1944,
 1945,
 10139,
 1950,
 1951,
 1953,
 1955,
 10152,
 10158,
 10163,
 1972,
 1975,
 1984,
 1985,
 10178,
 10184,
 1995,
 1997,
 10189,
 10194,
 10201,
 2010,
 10203,
 2013,
 2017,
 2021,
 10215,
 2024,
 2026,
 2027,
 2028,
 10221,
 10226,
 10228,
 2039,
 2040,
 2041,
 2042,
 2045,
 10241,
 2050,
 2051,
 2052,
 2053,
 10253,
 2065,
 2066,
 10258,
 2071,
 10270,
 2078,
 2081,
 2085,
 2087,
 2091,
 10286,
 10287,
 10288,
 10289,
 2098,
 10294,
 2105,
 2106,
 10307,
 10308,
 2120,
 2121,
 10314,
 2123,
 10315,
 2125,
 2126,
 10318,
 10320,
 2128,
 2131,
 2132,
 10325,
 2136,
 10329,
 2139,
 10333,
 10334,
 10335,
 2147,
 2149,
 10344,
 2156,
 10357,
 2175,
 10368,
 10370,
 2181,
 2183,
 2184,
 2185,
 2188,
 10386,
 2195,
 10388,
 2206,
 10398,
 2210,
 10405,
 10407,
 2218,
 2219,
 10417,
 10420,
 2229,
 10422,
 2231,
 2236,
 2238,
 2242,
 10435,
 2244,
 2248,
 10441,
 10440,
 2251,
 2253,
 10445,
 10447,
 10453,
 2263,
 10456,
 2267,
 2269,
 2271,
 10470,
 2279,
 10479,
 10480,
 10481,
 2298,
 2300,
 2302,
 10497,
 2308,
 10501,
 10505,
 2313,
 2315,
 2316,
 10509,
 2318,
 10511,
 2314,
 2331,
 10524,
 2333,
 10526,
 10531,
 10541,
 10542,
 2354,
 10550,
 2359,
 2362,
 2363,
 2367,
 10560,
 10565,
 2380,
 10572,
 2381,
 10581,
 2393,
 10586,
 10591,
 10597,
 10599,
 2411,
 10605,
 10606,
 2414,
 2416,
 10609,
 10611,
 10613,
 2423,
 10616,
 2425,
 2426,
 10619,
 2431,
 10624,
 2432,
 2436,
 ...}

In [40]:
# the for loop is finding zero instances where a referral_id

6417

417

In [36]:
four = users[users['org_id'] == 4]
set3 = set(four['user_id'])
set4 = set(four['referral_id'])
intersection = set3.intersection(set4)
print(len(intersection))
intersection

37

{134,
 597,
 1217,
 1313,
 1452,
 1475,
 1538,
 1807,
 1943,
 2181,
 2298,
 2540,
 2657,
 3167,
 3789,
 3840,
 4263,
 4604,
 5206,
 5448,
 5920,
 6612,
 6977,
 7266,
 7284,
 7468,
 7524,
 8670,
 8856,
 8875,
 8921,
 9455,
 9631,
 9958,
 10020,
 10837,
 11274}