In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
data = pd.read_csv('listings.csv.gz', compression='infer', header=0, sep=',')

In [22]:
data.head(3)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958,https://www.airbnb.com/rooms/958,20210407173733,2021-04-10,"Bright, Modern Garden Unit - 1BR/1BTH",Please check local laws re Covid before you re...,Quiet cul de sac in friendly neighborhood<br /...,https://a0.muscache.com/pictures/b7c2a199-4c17...,1169,https://www.airbnb.com/users/show/1169,...,10.0,10.0,10.0,STR-0001256,f,1,1,0,0,1.94
1,5858,https://www.airbnb.com/rooms/5858,20210407173733,2021-04-08,Creative Sanctuary,<b>The space</b><br />We live in a large Victo...,I love how our neighborhood feels quiet but is...,https://a0.muscache.com/pictures/17714/3a7aea1...,8904,https://www.airbnb.com/users/show/8904,...,10.0,10.0,9.0,NaN,f,1,1,0,0,0.76
2,7918,https://www.airbnb.com/rooms/7918,20210407173733,2021-04-08,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,"Shopping old town, restaurants, McDonald, Whol...",https://a0.muscache.com/pictures/26356/8030652...,21994,https://www.airbnb.com/users/show/21994,...,9.0,9.0,8.0,NaN,f,8,0,8,0,0.13

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6682 entries, 0 to 6681
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6682 non-null   int64
 1   listing_url                                   6682 non-null   object
 2   scrape_id                                     6682 non-null   int64
 3   last_scraped                                  6682 non-null   object
 4   name                                          6682 non-null   object
 5   description                                   6609 non-null   object
 6   neighborhood_overview                         4777 non-null   object
 7   picture_url                                   6682 non-null   object
 8   host_id                                       6682 non-null   int64
 9   host_url                                      6682 non-null   object
 10  host_name                                     6341 non-null   object
 11  host_since                                    6341 non-null   object
 12  host_location                                 6336 non-null   object
 13  host_about                                    4521 non-null   object
 14  host_response_time                            4877 non-null   object
 15  host_response_rate                            4877 non-null   object
 16  host_acceptance_rate                          5007 non-null   object
 17  host_is_superhost                             6341 non-null   object
 18  host_thumbnail_url                            6341 non-null   object
 19  host_picture_url                              6341 non-null   object
 20  host_neighbourhood                            5918 non-null   object
 21  host_listings_count                           6341 non-null   float64
 22  host_total_listings_count                     6341 non-null   float64
 23  host_verifications                            6682 non-null   object
 24  host_has_profile_pic                          6341 non-null   object
 25  host_identity_verified                        6341 non-null   object
 26  neighbourhood                                 4777 non-null   object
 27  neighbourhood_cleansed                        6682 non-null   object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      6682 non-null   float64
 30  longitude                                     6682 non-null   float64
 31  property_type                                 6682 non-null   object
 32  room_type                                     6682 non-null   object
 33  accommodates                                  6682 non-null   int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                6676 non-null   object
 36  bedrooms                                      5800 non-null   float64
 37  beds                                          6634 non-null   float64
 38  amenities                                     6682 non-null   object
 39  price                                         6682 non-null   object
 40  minimum_nights                                6682 non-null   int64
 41  maximum_nights                                6682 non-null   int64
 42  minimum_minimum_nights                        6681 non-null   float64
 43  maximum_minimum_nights                        6681 non-null   float64
 44  minimum_maximum_nights                        6681 non-null   float64
 45  maximum_maximum_nights                        6681 non-null   float64
 46  minimum_nights_avg_ntm                        6681 non-null   float64
 47  maximum_nights_avg_ntm                        6681 non-null   float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              6682 non-null   object
 50  availability_30                               6682 non-null   int64
 51  availability_60                               6682 non-null   int64
 52  availability_90                               6682 non-null   int64
 53  availability_365                              6682 non-null   int64
 54  calendar_last_scraped                         6682 non-null   object
 55  number_of_reviews                             6682 non-null   int64
 56  number_of_reviews_ltm                         6682 non-null   int64
 57  number_of_reviews_l30d                        6682 non-null   int64
 58  first_review                                  5010 non-null   object
 59  last_review                                   5010 non-null   object
 60  review_scores_rating                          4972 non-null   float64
 61  review_scores_accuracy                        4947 non-null   float64
 62  review_scores_cleanliness                     4947 non-null   float64
 63  review_scores_checkin                         4946 non-null   float64
 64  review_scores_communication                   4948 non-null   float64
 65  review_scores_location                        4946 non-null   float64
 66  review_scores_value                           4946 non-null   float64
 67  license                                       3728 non-null   object
 68  instant_bookable                              6682 non-null   object
 69  calculated_host_listings_count                6682 non-null   int64
 70  calculated_host_listings_count_entire_homes   6682 non-null   int64
 71  calculated_host_listings_count_private_rooms  6682 non-null   int64
 72  calculated_host_listings_count_shared_rooms   6682 non-null   int64
 73  reviews_per_month                             5010 non-null   float64
dtypes: float64(23), int64(17), object(34)
memory usage: 2.9+ MB

In [21]:
data.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,6.682000e+03,6.682000e+03,6.682000e+03,6341.000000,6341.000000,0.0,6682.000000,6682.000000,6682.000000,0.0,...,4947.000000,4946.000000,4948.000000,4946.000000,4946.000000,6682.000000,6682.000000,6682.000000,6682.000000,5010.000000
mean,2.534412e+07,2.021041e+13,7.850733e+07,75.058035,75.058035,NaN,37.768508,-122.428914,3.067794,NaN,...,9.589650,9.826122,9.774859,9.697938,9.364941,16.369650,12.157887,3.413649,0.618228,1.174543
std,1.537523e+07,0.000000e+00,1.024033e+08,296.956314,296.956314,NaN,0.022710,0.026676,1.834750,NaN,...,0.853265,0.654218,0.772374,0.783645,0.952277,36.306069,35.730193,8.507695,3.745078,1.654019
min,9.580000e+02,2.021041e+13,1.169000e+03,0.000000,0.000000,NaN,37.704250,-122.512460,0.000000,NaN,...,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.143736e+07,2.021041e+13,4.430421e+06,1.000000,1.000000,NaN,37.753570,-122.441643,2.000000,NaN,...,9.000000,10.000000,10.000000,10.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.160000
50%,2.633495e+07,2.021041e+13,2.408706e+07,2.000000,2.000000,NaN,37.772020,-122.422745,2.000000,NaN,...,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,1.000000,0.000000,0.000000,0.520000
75%,3.941168e+07,2.021041e+13,1.148649e+08,14.000000,14.000000,NaN,37.787260,-122.409780,4.000000,NaN,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,2.000000,0.000000,1.537500
max,4.908214e+07,2.021041e+13,3.956471e+08,2844.000000,2844.000000,NaN,37.809540,-122.368230,16.000000,NaN,...,10.000000,10.000000,10.000000,10.000000,10.000000,175.000000,175.000000,54.000000,32.000000,39.190000

In [23]:
data = pd.read_excel('Online Retail.xlsx')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.