In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from imdb import IMDb

In [2]:
ia = IMDb()    #initializes IMDbPy with ia as an alias

In [3]:
ia.get_movie_infoset()   #pulling out the list of categories of information that's available via IMDbPy

['airing',
 'akas',
 'alternate versions',
 'awards',
 'connections',
 'crazy credits',
 'critic reviews',
 'episodes',
 'external reviews',
 'external sites',
 'faqs',
 'full credits',
 'goofs',
 'keywords',
 'list',
 'locations',
 'main',
 'misc sites',
 'news',
 'official sites',
 'parents guide',
 'photo sites',
 'plot',
 'quotes',
 'recommendations',
 'release dates',
 'release info',
 'reviews',
 'sound clips',
 'soundtrack',
 'synopsis',
 'taglines',
 'technical',
 'trivia',
 'tv schedule',
 'video clips',
 'vote details']

In [4]:
movie = ia.get_movie('2395427', info=['main'])    #pulls info for The Avengers: Age of Ultron to test

In [5]:
movie.infoset2keys       #displays the information contained in the 'main' key for the movie

{'main': ['localized title',
  'cast',
  'genres',
  'runtimes',
  'countries',
  'country codes',
  'language codes',
  'color info',
  'aspect ratio',
  'sound mix',
  'box office',
  'certificates',
  'original air date',
  'rating',
  'votes',
  'cover url',
  'imdbID',
  'plot outline',
  'languages',
  'title',
  'year',
  'kind',
  'directors',
  'writers',
  'producers',
  'composers',
  'cinematographers',
  'editors',
  'editorial department',
  'casting directors',
  'production designers',
  'art directors',
  'set decorators',
  'costume designers',
  'make up department',
  'production managers',
  'assistant directors',
  'art department',
  'sound department',
  'special effects',
  'visual effects',
  'stunts',
  'camera department',
  'animation department',
  'casting department',
  'costume departmen',
  'location management',
  'music department',
  'script department',
  'transportation department',
  'miscellaneous',
  'thanks',
  'akas',
  'writer',
  'director',
  'production companies',
  'distributors',
  'special effects companies',
  'other companies']}

In [6]:
MovieBox = movie.get('box office')  #stores object under dict[main][box office]
MovieRev = movie.get('box office')['Cumulative Worldwide Gross']   #stores cumulative worldwide gross revenue

In [7]:
MovieBox
#Getting just the 'box office' information returns a dictionary of all included revenue values

{'Budget': '$250,000,000 (estimated)',
 'Opening Weekend United States': '$191,271,109, 01 May 2015',
 'Cumulative Worldwide Gross': '$1,405,413,868'}

In [8]:
MovieRev
#calling the .get() on 'box office' and also the dictionary key for 'Cumulative Worldwide Gross' returns the target value needed

'$1,405,413,868'

In [9]:
MovieRev = MovieRev.replace('$', '').replace(',','')
MovieRev = int(MovieRev)
print(type(MovieRev))
print(MovieRev)
#using the string replace method on the target value strips all '/$'' and ',' from the revenue numbers - this will work!

<class 'int'>
1405413868

### The next step here is to tinker and discover how I can do this in 'one go' for my entire list of imdb id's

Now I need to load in my boxoffice_data file and pull out the imdb_id and see what I can do to pull our box office revenue information

In [10]:
boxoffice = pd.read_csv(r'C:\Users\deann\Documents\Data\Box Office Prediction Data\boxoffice_data.csv')
boxoffice_2 = pd.read_csv(r"C:\Users\deann\Documents\Data\Box Office Prediction Data\test.csv")

In [11]:
boxoffice.imdb_id.head()   #since I stripped the 'tt' portion of the ID off pandas read the ID's in as integers

0    2637294
1     368933
2    2582802
3    1821480
4    1380152
Name: imdb_id, dtype: int64

In [12]:
boxoffice_2.imdb_id = boxoffice_2.imdb_id.str.replace('tt', '')
boxoffice_2.head()

,Unnamed: 0,belongs_to_collection,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,...,release_date,runtime,spoken_languages,tagline,title,Keywords,cast,crew,Overview_length,Tag_length
0,0,Pokémon Collection,0,"['Adventure', 'Animation', 'Family', 'Fantasy']",1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,NaN,...,7/14/07,90.0,"['English', '日本語']",Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"['pok√©mon', 'pocket monsters']","['Craig Blair', 'Emily Bauer', 'Sarah Natochen...","['Kunihiko Yuyama', 'Hideki Sonoda']",335.0,51.0
1,1,NaN,88000,"['Horror', 'Science Fiction']",0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,['Woolner Brothers Pictures Inc.'],...,5/19/58,65.0,['English'],A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"['revenge', 'alien', 'b movie', 'cheating husb...","['Allison Hayes', 'William Hudson', 'Yvette Vi...","['Edward Mann', 'Jacques R. Marquette', 'Jacqu...",162.0,96.0
2,2,NaN,0,"['Comedy', 'Romance']",0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,"['Warner Bros.', 'Outlaw Productions (I)', 'Mi...",...,5/23/97,100.0,['English'],A Comedy About Lost Loves And Last Laughs,Addicted to Love,"['jealousy', 'love', 'revenge', 'break-up']","['Meg Ryan', 'Matthew Broderick', 'Kelly Prest...","['Griffin Dunne', 'Robert F. Newmyer', 'Jeffre...",362.0,41.0
3,3,NaN,6800000,"['Drama', 'War', 'Mystery']",1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,"['TS Productions', 'Micro scope', 'Phi Group']",...,9/4/10,130.0,"['Français', 'العربية', 'English']",The search began at the opening of their mothe...,Incendies,"['prison', 'middle east', 'rape', 'muslim', 'm...","['Lubna Azabal', 'M√©lissa D√©sormeaux-Poulin'...","['Louis Craig', 'Lucie Robitaille', 'Gilles Sa...",302.0,55.0
4,4,NaN,2000000,"['History', 'Documentary']",0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,NaN,...,2/11/05,92.0,['English'],It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"['usa', '1970s', 'sexual revolution', 'unsimul...","['Dennis Hopper', 'Peter Bart', 'Warren Beatty...","['Brian Grazer', 'Kim Roth', 'Ron Howard', 'Fe...",894.0,221.0

In [13]:
# now I needed to write a function that would individually get each film's revenue if possible
def movie_info(x):
    """Creates a simple function that gets the movie info I need for a single film
        I plan to apply this to both dataframes of IMDB values"""
    error_list = []
    error_count = 0
    try: 
        # storing the main dictionary for the film with imdb_id = x
        info = ia.get_movie(x, info=['main'])
        # trying to return the cumulative worldwide gross revenue for film with imdb_id = x
        MovieRev = info.get('box office')['Cumulative Worldwide Gross']
        # transforming the string value to a clean integer            
        MovieRev = MovieRev.replace('$', '').replace(',','')
        MovieRev = int(MovieRev)
        # returns the integer value for the cumulative worldwide gross revenue for film with imdb_id = x
        return MovieRev     
    except:
        error_list.append(str(x))
        error_count += 1
        return np.nan
    print(error_count)

In [14]:
#testing the function on the same Age of Ultron film ID I used above for both string and integer inputs

UltronRev = movie_info('2395427')
UltronRev

1405413868

In [15]:
apply = boxoffice.imdb_id.apply(movie_info)

apply

0               NaN
1       134734481.0
2        48982041.0
3               NaN
4               NaN
           ...
2995            NaN
2996            NaN
2997            NaN
2998    171963386.0
2999     86648359.0
Name: imdb_id, Length: 3000, dtype: float64

Action items:

1/) Search for this api in github

2/) search documentation again, this SHOULD be in their website

In [16]:
none_ap = apply.replace('NaN', np.nan)
print(none_ap)

0               NaN
1       134734481.0
2        48982041.0
3               NaN
4               NaN
           ...
2995            NaN
2996            NaN
2997            NaN
2998    171963386.0
2999     86648359.0
Name: imdb_id, Length: 3000, dtype: float64

In [17]:
missing_train=none_ap.isnull().sum()    # checking to see how many nully values were pulled from IMDB
print('You have ' + str(missing_train) + ' unusable films in your training dataset')

You have 2061 unusable films in your training dataset

In [18]:
apply_test = boxoffice_2.imdb_id.apply(movie_info)

apply_test

0       42496749.0
1              NaN
2              NaN
3       12597210.0
4              NaN
           ...
4393           NaN
4394    71274967.0
4395           NaN
4396           NaN
4397           NaN
Name: imdb_id, Length: 4398, dtype: float64

In [19]:
none_test = apply_test.replace('NaN', np.nan)
print(none_test)

0       42496749.0
1              NaN
2              NaN
3       12597210.0
4              NaN
           ...
4393           NaN
4394    71274967.0
4395           NaN
4396           NaN
4397           NaN
Name: imdb_id, Length: 4398, dtype: float64

In [20]:
missing_test=none_test.isnull().sum()
print('You have ' + str(missing_test) + ' unusable films in your test dataset')

You have 3005 unusable films in your test dataset

In [21]:
(4398-3004) + (3000-2062)    #Total films for which I have revenue information

2332

Here I plan to combine the revenue values back into the original boxoffice data frames

In [22]:
boxoffice.revenue = apply

boxoffice.head()  #adding revenue to the training data

,belongs_to_collection,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,spoken_languages,tagline,title,Keywords,cast,crew,revenue,Overview_length,Tag_length,collectionbool
0,Hot Tub Time Machine Collection,14000000,['Comedy'],2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,"['Paramount Pictures', 'United Artists', 'Metr...",['United States of America'],...,['English'],The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"['time travel', 'sequel', 'hot tub', 'duringcr...","['Rob Corddry', 'Craig Robinson', 'Clark Duke'...","['Kelly Cantley', 'Steve Pink', 'Josh Heald', ...",NaN,155.0,52.0,True
1,The Princess Diaries Collection,40000000,"['Comedy', 'Drama', 'Family', 'Romance']",368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,['Walt Disney Pictures'],['United States of America'],...,['English'],It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"['coronation', 'duty', 'marriage', 'falling in...","['Anne Hathaway', 'Julie Andrews', 'H√©ctor El...","['Garry Marshall', 'Charles Minsky', 'John Deb...",134734481.0,393.0,60.0,True
2,NaN,3300000,['Drama'],2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,"['Bold Films', 'Blumhouse Productions', 'Right...",['United States of America'],...,['English'],The road to greatness can take you to the edge.,Whiplash,"['jazz', 'obsession', 'conservatory', 'music t...","['Miles Teller', 'J.K. Simmons', 'Melissa Beno...","['Terri Taylor', 'Richard Henderson', 'Jeffrey...",48982041.0,130.0,47.0,False
3,NaN,1200000,"['Thriller', 'Drama']",1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,NaN,['India'],...,"['English', 'हिन्दी']",NaN,Kahaani,"['mystery', 'bollywood', 'police corruption', ...","['Vidya Balan', 'Nawazuddin Siddiqui', 'Paramb...","['Sujoy Ghosh', 'Sujoy Ghosh', 'Sujoy Ghosh']",NaN,581.0,NaN,False
4,NaN,0,"['Action', 'Thriller']",1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,NaN,['South Korea'],...,['한국어/조선말'],NaN,Marine Boy,NaN,"['Kim Kang-woo', 'Jo Jae-hyeon', 'Park Si-yeon...","['Jong-seok Yoon', 'Jong-seok Yoon']",NaN,168.0,NaN,False

In [23]:
boxoffice_2['revenue'] = apply_test

boxoffice_2.head()     # Adding revenue to the test data

,Unnamed: 0,belongs_to_collection,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,tagline,title,Keywords,cast,crew,Overview_length,Tag_length,revenue
0,0,Pokémon Collection,0,"['Adventure', 'Animation', 'Family', 'Fantasy']",1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,NaN,...,90.0,"['English', '日本語']",Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"['pok√©mon', 'pocket monsters']","['Craig Blair', 'Emily Bauer', 'Sarah Natochen...","['Kunihiko Yuyama', 'Hideki Sonoda']",335.0,51.0,42496749.0
1,1,NaN,88000,"['Horror', 'Science Fiction']",0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,['Woolner Brothers Pictures Inc.'],...,65.0,['English'],A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"['revenge', 'alien', 'b movie', 'cheating husb...","['Allison Hayes', 'William Hudson', 'Yvette Vi...","['Edward Mann', 'Jacques R. Marquette', 'Jacqu...",162.0,96.0,NaN
2,2,NaN,0,"['Comedy', 'Romance']",0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,"['Warner Bros.', 'Outlaw Productions (I)', 'Mi...",...,100.0,['English'],A Comedy About Lost Loves And Last Laughs,Addicted to Love,"['jealousy', 'love', 'revenge', 'break-up']","['Meg Ryan', 'Matthew Broderick', 'Kelly Prest...","['Griffin Dunne', 'Robert F. Newmyer', 'Jeffre...",362.0,41.0,NaN
3,3,NaN,6800000,"['Drama', 'War', 'Mystery']",1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,"['TS Productions', 'Micro scope', 'Phi Group']",...,130.0,"['Français', 'العربية', 'English']",The search began at the opening of their mothe...,Incendies,"['prison', 'middle east', 'rape', 'muslim', 'm...","['Lubna Azabal', 'M√©lissa D√©sormeaux-Poulin'...","['Louis Craig', 'Lucie Robitaille', 'Gilles Sa...",302.0,55.0,12597210.0
4,4,NaN,2000000,"['History', 'Documentary']",0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,NaN,...,92.0,['English'],It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"['usa', '1970s', 'sexual revolution', 'unsimul...","['Dennis Hopper', 'Peter Bart', 'Warren Beatty...","['Brian Grazer', 'Kim Roth', 'Ron Howard', 'Fe...",894.0,221.0,NaN

In [24]:
BoxOffice = pd.concat([boxoffice, boxoffice_2], ignore_index=True)

BoxOffice.head()      # concatenating both dataframes and resetting the index

,belongs_to_collection,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,tagline,title,Keywords,cast,crew,revenue,Overview_length,Tag_length,collectionbool,Unnamed: 0
0,Hot Tub Time Machine Collection,14000000,['Comedy'],2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,"['Paramount Pictures', 'United Artists', 'Metr...",['United States of America'],...,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"['time travel', 'sequel', 'hot tub', 'duringcr...","['Rob Corddry', 'Craig Robinson', 'Clark Duke'...","['Kelly Cantley', 'Steve Pink', 'Josh Heald', ...",NaN,155.0,52.0,True,NaN
1,The Princess Diaries Collection,40000000,"['Comedy', 'Drama', 'Family', 'Romance']",368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,['Walt Disney Pictures'],['United States of America'],...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"['coronation', 'duty', 'marriage', 'falling in...","['Anne Hathaway', 'Julie Andrews', 'H√©ctor El...","['Garry Marshall', 'Charles Minsky', 'John Deb...",134734481.0,393.0,60.0,True,NaN
2,NaN,3300000,['Drama'],2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,"['Bold Films', 'Blumhouse Productions', 'Right...",['United States of America'],...,The road to greatness can take you to the edge.,Whiplash,"['jazz', 'obsession', 'conservatory', 'music t...","['Miles Teller', 'J.K. Simmons', 'Melissa Beno...","['Terri Taylor', 'Richard Henderson', 'Jeffrey...",48982041.0,130.0,47.0,False,NaN
3,NaN,1200000,"['Thriller', 'Drama']",1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,NaN,['India'],...,NaN,Kahaani,"['mystery', 'bollywood', 'police corruption', ...","['Vidya Balan', 'Nawazuddin Siddiqui', 'Paramb...","['Sujoy Ghosh', 'Sujoy Ghosh', 'Sujoy Ghosh']",NaN,581.0,NaN,False,NaN
4,NaN,0,"['Action', 'Thriller']",1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,NaN,['South Korea'],...,NaN,Marine Boy,NaN,"['Kim Kang-woo', 'Jo Jae-hyeon', 'Park Si-yeon...","['Jong-seok Yoon', 'Jong-seok Yoon']",NaN,168.0,NaN,False,NaN

In [25]:
BoxOffice.revenue.replace('NaN', None)     #replacing all "NaN" strings for revenue with null values

0               NaN
1       134734481.0
2        48982041.0
3               NaN
4               NaN
           ...
7393            NaN
7394     71274967.0
7395            NaN
7396            NaN
7397            NaN
Name: revenue, Length: 7398, dtype: float64

In [26]:
# Creating a boolean mask for which films ahve revenue values

missing = BoxOffice.revenue.isnull()

print(missing)

0        True
1       False
2       False
3        True
4        True
        ...
7393     True
7394    False
7395     True
7396     True
7397     True
Name: revenue, Length: 7398, dtype: bool

In [27]:
# Dropping all films which have no value for their revenue
# I tried to rerun this function initially collecting opening weekend revenue rather than cumulative, however there are only 36 films
# for which that information is available. 

BoxOffice.drop(BoxOffice[missing].index, inplace=True)

BoxOffice

,belongs_to_collection,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,tagline,title,Keywords,cast,crew,revenue,Overview_length,Tag_length,collectionbool,Unnamed: 0
1,The Princess Diaries Collection,40000000,"['Comedy', 'Drama', 'Family', 'Romance']",368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,['Walt Disney Pictures'],['United States of America'],...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"['coronation', 'duty', 'marriage', 'falling in...","['Anne Hathaway', 'Julie Andrews', 'H√©ctor El...","['Garry Marshall', 'Charles Minsky', 'John Deb...",134734481.0,393.0,60.0,True,NaN
2,NaN,3300000,['Drama'],2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,"['Bold Films', 'Blumhouse Productions', 'Right...",['United States of America'],...,The road to greatness can take you to the edge.,Whiplash,"['jazz', 'obsession', 'conservatory', 'music t...","['Miles Teller', 'J.K. Simmons', 'Melissa Beno...","['Terri Taylor', 'Richard Henderson', 'Jeffrey...",48982041.0,130.0,47.0,False,NaN
5,NaN,8000000,"['Animation', 'Adventure', 'Family']",93743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,NaN,NaN,...,NaN,Pinocchio and the Emperor of the Night,NaN,"['Scott Grimes', 'Tom Bosley', 'Rickie Lee Jon...","['Collodi', 'Hal Sutherland', ""Dennis O'Flaher...",3418605.0,150.0,NaN,False,NaN
6,NaN,14000000,"['Horror', 'Thriller']",431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,"['Ghost House Pictures', 'North Box Productions']","['United States of America', 'Canada']",...,Fear The Demon That Doesn't Fear God,The Possession,NaN,"['Jeffrey Dean Morgan', 'Natasha Calis', 'Madi...","['Sam Raimi', 'Nancy Nayor', 'Anders Villadsen...",85446075.0,208.0,36.0,False,NaN
8,The Muppet Collection,0,"['Action', 'Comedy', 'Music', 'Family', 'Adven...",117110,en,Muppet Treasure Island,After telling the story of Flint's last journe...,6.902423,"['Walt Disney Pictures', 'Jim Henson Productio...",['United States of America'],...,Set sail for Muppet mayhem!,Muppet Treasure Island,"['island', 'pirate gang', 'puppet', 'treasure ...","['Tim Curry', 'Kevin Bishop', 'Jennifer Saunde...","['Brian Henson', 'Frank Oz', 'Brian Henson', '...",4259710.0,397.0,27.0,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7358,NaN,35000000,"['Horror', 'Thriller']",1029360,en,Poltergeist,Legendary filmmaker Sam Raimi and director Gil...,15.968492,"['Ghost House Pictures', 'Vertigo Entertainmen...",['United States of America'],...,They're Here. And They Know What Scares You.,Poltergeist,"['poltergeist', 'haunted house', 'remake', 'du...","['Sam Rockwell', 'Rosemarie DeWitt', 'Saxon Sh...","['Gil Kenan', 'David Lindsay-Abaire', 'John Po...",95437994.0,292.0,44.0,NaN,4358.0
7361,NaN,55000000,['Western'],0381849,en,3:10 to Yuma,"In Arizona in the late 1800's, infamous outlaw...",18.079094,"['Tree Line Films', 'Lionsgate', 'Relativity M...",['United States of America'],...,Time waits for one man.,3:10 to Yuma,"['parent child relationship', 'saloon', 'hero'...","['Russell Crowe', 'Christian Bale', 'Logan Ler...","['James Mangold', 'Cathy Konrad', 'Phedon Papa...",71171825.0,340.0,23.0,NaN,4361.0
7376,NaN,4000000,"['Adventure', 'Comedy', 'War']",0065938,en,Kelly's Heroes,A misfit group of World War II American soldie...,8.418662,"['Katzka-Loeb', 'Avala Film', 'Metro-Goldwyn-M...","['Serbia', 'United States of America']",...,They set out to rob a bank... and damn near wo...,Kelly's Heroes,"['gold', 'world war ii', 'armor', 'campaign', ...","['Clint Eastwood', 'Telly Savalas', 'Don Rickl...","['John Jympson', 'Jonathan Bates', 'Lalo Schif...",3190832.0,93.0,62.0,NaN,4376.0
7392,The Terminator Collection,155000000,"['Science Fiction', 'Action', 'Thriller', 'Adv...",1340138,en,Terminator Genisys,"The year is 2029. John Connor, leader of the r...",30.188198,"['Paramount Pictures', 'Annapurna Pictures', '...",['United States of America'],...,Reset the future,Terminator Genisys,"['saving the world', 'artificial intelligence'...","['Arnold Schwarzenegger', 'Jason Clarke', 'Emi...","['Ronna Kress', 'Gale Anne Hurd', 'James Camer...",440603537.0,321.0,16.0,NaN,4392.0
7394,Without a Paddle Collection,19000000,"['Action', 'Adventure', 'Comedy', 'Thriller']",0364751,en,Without a Paddle,"Three friends, whose lives have been drifting ...",6.046516,"['Paramount Pictures', 'De Line Pictures']",['United States of America'],...,"The call of the wild, the thrill of adventure....",Without a Paddle,"['death of a friend', 'treasure hunt']","['Seth Green', 'Matthew Lillard', 'Dax Shepard...","['Ngila Dickson', 'Jack Gill', 'Meg Everist', ...",71274967.0,457.0,73.0,NaN,4394.0

In [28]:
print(BoxOffice.revenue.isnull().sum())    # Final check to ensure that I have no missing values for my target variable

0

In [31]:
BoxOffice.to_csv(r'C:\Users\deann\Documents\Data\Box Office Prediction Data\BoxOfficeData.csv', index=False)